apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-deployment
spec:
  selector:
    matchLabels:
      app: api-dev
  template:
    metadata:
      labels:
        app: api-dev
    spec:
      containers:
      - name: api-dev
        image: nginx:latest
        ports:
          - containerPort: 8080
        envFrom:
        - configMapRef:
            name: app-config
        - secretRef:
            name: db-credentials
        volumeMounts:
        - name: app-properties-volume
          mountPath: /app/config
        - name: jwt-keys-volume
          mountPath: /etc/jwt/jwt-public.key
          subPath: jwt-public.key
          readOnly: true
      volumes:
      - name: app-properties-volume
        configMap:
          name: app-properties
      - name: jwt-keys-volume
        secret:
          secretName: jwt-keys

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-deployment
spec:
  replicas: 3
  selector:
    matchLabels:
      app: nginx-dev
  template:
    metadata:
      labels:
        app: nginx-dev
    spec:
      containers:
      - name: nginx-dev
        image: nginx:alpine
        ports:
          - containerPort: 80
        resources:
          requests:
            cpu: "100m"
            memory: "128Mi"
          limits:
            cpu: "500m"
            memory: "512Mi"
        volumeMounts:
        - name: nginx-config-volume
          mountPath: /etc/nginx/conf.d
        - name: tls-certs
          mountPath: /etc/ssl/certs/tls.crt
          subPath: tls.crt
          readOnly: true
        - name: tls-certs
          mountPath: /etc/ssl/private/tls.key
          subPath: tls.key
          readOnly: true
      volumes:
        - name: nginx-config-volume
          configMap:
            name: nginx-config
        - name: tls-certs
          secret:
            secretName: tls-certificates
        

---
apiVersion: v1
kind: Service
metadata:
  name: api-service
spec:
  selector:
    app: api-dev
  ports:
  - port: 8080
    targetPort: 8080
  type: ClusterIP

---
apiVersion: v1
kind: Service
metadata:
  name: nginx-service
spec:
  type: NodePort
  selector:
    app: nginx-dev
  ports:
  - port: 80
    targetPort: 80