apiVersion: apps/v1
kind: Deployment
metadata:
  name: database
spec:
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      containers:
      - name: postgres-container
        image: postgres:13-alpine
        ports:
        - containerPort: 5432
        env:
        - name: POSTGRES_DB
          value: techblog
        - name: POSTGRES_USER
          value: bloguser
        - name: POSTGRES_PASSWORD
          value: blogpass123
        volumeMounts:
        - name: blog-data-volume
          mountPath: /var/lib/postgresql/data
      volumes:
      - name: blog-data-volume
        persistentVolumeClaim:
          claimName: blog-data-pvc