apiVersion: v1
kind: Pod
metadata:
  name: network-test
  labels:
    app: network-test-pod
    tier: web
spec:
  containers:
    - name: network-test-pod
      image: busybox
      command: ["sh", "-c", "sleep 3600"]
      ports:
        - containerPort: 80
      resources:
        requests:
          memory: "64Mi"
          cpu: "50m"
        limits:
          memory: "128Mi"
          cpu: "100m"